{% extends "pages/main.html" %}
{% load static %}

{% block metaData %}
    <meta charset="UTF-8">
    <meta name="description" content="The Giant Hotel ni hoteli ya kifahari ambayo inajulikana kwa kutoa uzoefu wa kipekee wa malazi na huduma bora. Iliyojengwa kwa kuzingatia ubora na kifahari, hoteli hii inatoa mandhari nzuri na vifaa vya kisasa vinavyowapa wageni wake hisia za pekee za starehe na faraja.">
    <meta name="keywords" content="giant hotel, giant, amazing night,giant hotel katoro, giant hotel tanzania,hotel in Tanzania, katoro hotel, the giant, vvip hotel, accomondation, staying in Tanzania, geita hotel">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Giant Hotel</title>
{% endblock metaData %}




{% block content %}
    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hero-text">
                        <h1>The Giant A Luxury Hotel</h1>
                        <p>Karibu Hoteli ya Kifahari "The Giant"!
                        Tupo hapa kukufurahisha na kukupa uzoefu wa kipekee. 
                        Jisikie kama nyumbani katika mazingira yetu mazuri na huduma bora. 
                        Karibu katika wakati wa kufurahisha na faraja. </p>
                        <a href="#" class="primary-btn">Discover Now</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="hero-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="{% static 'img/hero/hero-1.jpg' %}"></div>
            <div class="hs-item set-bg" data-setbg="{% static 'img/hero/hero-2.jpg' %}"></div>
            <div class="hs-item set-bg" data-setbg="{% static 'img/hero/hero-3.jpg' %}"></div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- About Us Section Begin -->
    <section class="aboutus-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-text">
                        <div class="section-title">
                            <span>About Us</span>
                            <h2>The Giant Hotel</h2><br /></h3>Where Luxury and Comfort Converge</h3>
                        </div>
                        <p class="f-para">The Giant Hotel ni hoteli ya kifahari ambayo inajulikana kwa kutoa uzoefu wa kipekee wa malazi na huduma bora. 
                        Iliyojengwa kwa kuzingatia ubora na kifahari, 
                        hoteli hii inatoa mandhari nzuri na vifaa vya kisasa vinavyowapa wageni wake hisia za pekee za starehe na faraja.</p>
                        <p class="s-para">The Giant Hotel ni hoteli ya kifahari inayojulikana kwa ubora wake wa malazi na huduma bora. 
                        Inatoa vyumba vya kisasa, migahawa ya kimataifa, na vifaa vya burudani kama spa na mabwawa ya kuogelea. 
                        Huduma kwa wageni ni ya pekee, na hoteli hii inakuletea uzoefu wa kipekee wa starehe na utulivu.</p>
                        <a href="{% url 'about-us' %}" class="primary-btn about-btn">Read More</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-pic">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="{% static 'img/about/about-1.jpg' %}" alt="">
                            </div>
                            <div class="col-sm-6">
                                <img src="{% static 'img/about/about-2.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us Section End -->

    <!-- Services Section End -->
    <section class="services-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>What We Do</span>
                        <h2>Discover Our Services</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-036-parking"></i>
                        <h4>Travel Plan</h4>
                        <p>Tupange safari yako bora na Huduma ya Mpango wa Safari. 
                        Tufuate matakwa yako na tukusaidie kupanga ratiba, malazi, na usafiri. 
                        Safari isiyosumbua na yenye kufurahisha inakusubiri!.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-033-dinner"></i>
                        <h4>Catering Service</h4>
                        <p>Huduma ya Catering inatoa chakula na vinywaji kwa matukio kama mikutano na sherehe. 
                        Inajumuisha maandalizi, usambazaji, na huduma ya wahudumu. 
                        Hii hukuruhusu kufurahia chakula bora na ladha bila wasiwasi wa maandalizi..</p>
                    </div>
                </div></li>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-026-bed"></i>
                        <h4>Babysitting</h4>
                        <p>Huduma ya kutunza watoto (Babysitting) inapatikana kwa wageni wetu. 
                        Wataalamu waliofunzwa kwa ustadi wanahakikisha usalama na furaha ya watoto wako wakati wewe unafurahia huduma zetu. 
                        Karibu kuwawezesha wazazi kupumzika na kujivinjari kwa amani.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-024-towel"></i>
                        <h4>Laundry</h4>
                        <p>Tunafurahi kutoa huduma ya kufua nguo kwa wageni wetu. Huduma hii ya Laundry inapatikana ili kuhakikisha nguo zako zinabaki safi na zenye hali nzuri wakati wa kukaa kwako hapa "The Giant Hotel". Tafadhali wasiliana na 
                        huduma ya wageni au eneo la mapokezi ili kupanga huduma ya Laundry kulingana na mahitaji yako..</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-044-clock-1"></i>
                        <h4>Hire Driver</h4>
                        <p>Huduma ya "Hire Driver" inakupa fursa ya kukodi dereva wa kitaalamu kwa safari zako. 
                        Dereva huyu atakuwa na uzoefu na maarifa ya eneo hilo, akikuhakikishia safari salama na ya faraja. Ni chaguo bora kwa kusafiri, 
                        hafla maalum, au kupata mapumziko wakati wa safari yako.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service-item">
                        <i class="flaticon-012-cocktail"></i>
                        <h4>Bar & Drink</h4>
                        <p>The Giant Hotel inakuletea huduma ya baa na vinywaji ili kufurahia ladha 
                        mbalimbali za vinywaji vyenye ubora. Pamoja na mazingira mazuri, tunakupa uzoefu wa kipekee wa burudani na vinywaji vyenye ubunifu. Chagua kutoka 
                        kwenye orodha yetu ya vinywaji vya kipekee na ufurahie wakati wako katika The Giant Hotel.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->

    <!-- Home Room Section Begin -->
    <section class="hp-room-section">
        <div class="container-fluid">
            <div class="hp-room-items">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="{% static 'img/room/room-b1.jpg' %}">
                            <div class="hr-text">
                                <h3>Diamond 1016 Room</h3>
                                <h2>80$<span>/Perday</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Size:</td>
                                            <td>Large Size</td>
                                        </tr>
                                
                                        <tr>
                                            <td class="r-o">Bed:</td>
                                            <td>Double</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Services:</td>
                                            <td>Wifi, Television, Bathroom,...</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="#" class="primary-btn">More Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="{% static 'img/room/room-b2.jpg' %}">
                            <div class="hr-text">
                                <h3>Arsenic 1011 Room</h3>
                                <h2>60$<span>/Perday</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Size:</td>
                                            <td>Large Size</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Bed:</td>
                                            <td>Double</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Services:</td>
                                            <td>Wifi, Television, Bathroom,...</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="#" class="primary-btn">More Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="{% static 'img/room/room-b3.jpg' %}">
                            <div class="hr-text">
                                <h3>Tanzanite A Room</h3>
                                <h2>80$<span>/Perday</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Size:</td>
                                            <td>Large Size</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Bed:</td>
                                            <td>Double</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Services:</td>
                                            <td>Wifi, Television, Bathroom,...</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="#" class="primary-btn">More Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="{% static 'img/room/room-b4.jpg' %}">
                            <div class="hr-text">
                                <h3>Gold-0102A Room</h3>
                                <h2>60$<span>/Pernight</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Size:</td>
                                            <td>30 ft</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Capacity:</td>
                                            <td>Max persion 5</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Bed:</td>
                                            <td>King Beds</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Services:</td>
                                            <td>Wifi, Television, Bathroom,...</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="{% url 'room-details' %}" class="primary-btn">More Details</a>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Home Room Section End -->

    <!-- Testimonial Section Begin -->
    <section class="testimonial-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Testimonials</span>
                        <h2>What Customers Say?</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="testimonial-slider owl-carousel">
                        <div class="ts-item">
                            <p>Baada ya kumaliza muda mrefu wa masomo na majukumu ya kazi, 
                            familia yetu ilihitaji kuvunja rutuba na kupata wakati wa kupumzika. 
                            Tukachagua "The Giant Hotel" kwa mapumziko yetu. Kama wapenzi wa asili na mazingira mazuri, 
                            tulipata furaha kubwa katika likizo yetu huko na tuliondoka tukiwa na kumbukumbu za kudumu.</p>
                            <div class="ti-author">
                                <div class="rating">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star-half_alt"></i>
                                </div>
                                <h5> - Laurent Marketer</h5>
                            </div>
                            <img src="{% static 'img/testimonial-logo.png' %}" alt="">
                        </div>
                        <div class="ts-item">
                            <p>Baada ya harusi yetu, mume wangu na mimi tulitamani kuanza maisha mapya katika
                             mazingira tofauti. Tulihamia jijini New York na kwa muda mfupi tulihitaji makazi ya muda wakati nyumba yetu mpya ilikuwa inakamilika. Tukapata faraja na
                            huduma bora kwenye "The Giant Hotel" na tukaanza kujenga maisha yetu mapya kwa furaha.</p>
                            <div class="ti-author">
                                <div class="rating">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star-half_alt"></i>
                                </div>
                                <h5> - Fareed Developer</h5>
                            </div>
                            <img src="{% static 'img/testimonial-logo.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Section End -->

 {% endblock content %}